<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect to https
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # ===== 301 Redirects: old site URLs -> new structure (from Oct 2026 sheet) =====
    RewriteRule ^commercial-and-hospitality/?$ /projects/commercial-and-hospitality [R=301,L,NC]
    RewriteRule ^residential-projects/?$ /projects/residential-projects [R=301,L,NC]
    RewriteRule ^projects/one-indiabulls-centre/?$ /commercial-and-hospitality/one-indiabulls-centre [R=301,L,NC]
    RewriteRule ^projects/national-cancer-institute/?$ /commercial-and-hospitality/national-cancer-institute [R=301,L,NC]
    RewriteRule ^projects/taurus/?$ /commercial-and-hospitality/taurus [R=301,L,NC]
    RewriteRule ^projects/flipkart/?$ /commercial-and-hospitality/flipkart [R=301,L,NC]
    RewriteRule ^projects/godrej-commercial-hebbal/?$ /commercial-and-hospitality/godrej-commercial-hebbal [R=301,L,NC]
    RewriteRule ^projects/kohinoor-square-tower/?$ /commercial-and-hospitality/kohinoor-square-tower [R=301,L,NC]
    RewriteRule ^projects/mondeal-square/?$ /commercial-and-hospitality/mondeal-squares [R=301,L,NC]
    RewriteRule ^projects/st-regis-hotel/?$ /commercial-and-hospitality/st-regis-hotel [R=301,L,NC]
    RewriteRule ^projects/indiabulls-financial-centre/?$ /commercial-and-hospitality/indiabulls-financial-centre [R=301,L,NC]
    RewriteRule ^projects/mondeal-heights/?$ /commercial-and-hospitality/mondeal-heights [R=301,L,NC]
    RewriteRule ^projects/dan-hotel/?$ /commercial-and-hospitality/dan-hotel [R=301,L,NC]
    RewriteRule ^projects/taj-trees/?$ /commercial-and-hospitality/taj-trees [R=301,L,NC]
    RewriteRule ^projects/j-w-marriott/?$ /commercial-and-hospitality/j-w-marriott [R=301,L,NC]
    RewriteRule ^projects/bagmane-goldstone/?$ /commercial-and-hospitality/goldstone [R=301,L,NC]
    RewriteRule ^projects/the-chedi/?$ /commercial-and-hospitality/the-chedi [R=301,L,NC]
    RewriteRule ^projects/delhi-international-airport-limited/?$ /commercial-and-hospitality/delhi-international-airports-limited [R=301,L,NC]
    RewriteRule ^projects/altimus/?$ /commercial-and-hospitality/altimus [R=301,L,NC]
    RewriteRule ^projects/bagmane-rio/?$ /commercial-and-hospitality/rio-google [R=301,L,NC]
    RewriteRule ^projects/the-capital/?$ /commercial-and-hospitality/the-capital [R=301,L,NC]
    RewriteRule ^projects/marathon-futurex/?$ /commercial-and-hospitality/marathon-futurex [R=301,L,NC]
    RewriteRule ^projects/reliance-twin-tower/?$ /commercial-and-hospitality/reliance-twin-tower [R=301,L,NC]
    RewriteRule ^projects/one-horizon-center/?$ /commercial-and-hospitality/one-horizon-center [R=301,L,NC]
    RewriteRule ^projects/kingfisher-tower/?$ /residential-projects/kingfisher-tower [R=301,L,NC]
    RewriteRule ^projects/gulita/?$ /residential-projects/gulita [R=301,L,NC]
    RewriteRule ^projects/avana/?$ /residential-projects/avana [R=301,L,NC]
    RewriteRule ^projects/the-park/?$ /residential-projects/the-park-3 [R=301,L,NC]
    RewriteRule ^projects/lodha-world-one/?$ /residential-projects/lodha-world-one [R=301,L,NC]
    RewriteRule ^projects/indiabulls-blu/?$ /residential-projects/indiabulls-blu [R=301,L,NC]
    RewriteRule ^projects/indiabulls-sky/?$ /residential-projects/indiabulls-sky [R=301,L,NC]
    RewriteRule ^projects/one-avighna-park/?$ /residential-projects/one-avighna-park [R=301,L,NC]
    RewriteRule ^projects/embassy-lake-terrace/?$ /residential-projects/embassy-lake-terrace [R=301,L,NC]
    RewriteRule ^projects/indiabulls-skyforest/?$ /residential-projects/indiabulls-skyforest [R=301,L,NC]
    RewriteRule ^projects/the-42/?$ /residential-projects/the-42 [R=301,L,NC]
    RewriteRule ^projects/godrej-platinum/?$ /residential-projects/godrej-platinum [R=301,L,NC]
    RewriteRule ^projects/360-worli/?$ /residential-projects/360-worli [R=301,L,NC]
    RewriteRule ^projects/artesia/?$ /residential-projects/artesia [R=301,L,NC]
    RewriteRule ^projects/embassy-boulevard/?$ /residential-projects/embassy-boulevard [R=301,L,NC]
    RewriteRule ^projects/atmosphere/?$ /residential-projects/atmosphere [R=301,L,NC]
    # ===== /301 Redirects =====

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteCond %{REQUEST_URI} !(\.txt)$ [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php

    RewriteCond %{REQUEST_METHOD} !^(GET|POST|DELETE|PATCH)
    RewriteRule .* - [R=405,L]

    # Redirect to / if the request is empty
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ / [R=301,L]

    # Remove trailing slash
    RewriteCond %{REQUEST_URI} !/$
    RewriteRule ^(.*)/$ $1 [R=301,L]

    # Remove trailing index.php
    RewriteCond %{REQUEST_URI} !/index\.php
    RewriteRule ^(.*)/index\.php$ $1 [R=301,L]

    # Remove trailing index.html
    RewriteCond %{REQUEST_URI} !/index\.html
    RewriteRule ^(.*)/index\.html$ $1 [R=301,L]

    # Remove trailing index.htm
    RewriteCond %{REQUEST_URI} !/index\.htm
    RewriteRule ^(.*)/index\.htm$ $1 [R=301,L]

    # Remove trailing index
    RewriteCond %{REQUEST_URI} !/index
    RewriteRule ^(.*)/index$ $1 [R=301,L]

    # SEO redirects
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/sitemap.xml$ $1/sitemap.xml [R=301,L]
    RewriteRule ^(.*)/robots\.txt$ $1/robots.txt [R=301,L]
    RewriteRule ^(.*)/favicon\.ico$ $1/favicon.ico [R=301,L]
    RewriteRule ^(.*)/humans\.txt$ $1/humans.txt [R=301,L]
    RewriteRule ^(.*)/ads\.txt$ $1/ads.txt [R=301,L]

</IfModule>



# === improve page speed ===
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript
</IfModule>

# ====== Enable Brotli Compression
<IfModule mod_brotli.c>
    AddOutputFilterByType BROTLI_COMPRESS text/html text/plain text/xml text/css application/json application/javascript
</IfModule>


# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 10000
   php_value max_input_time 120
   php_value max_input_vars 2000
   php_value memory_limit 256M
   php_value post_max_size 1000M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php82"
   php_value upload_max_filesize 8M
   php_flag zlib.output_compression On
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 10000
   php_value max_input_time 120
   php_value max_input_vars 2000
   php_value memory_limit 256M
   php_value post_max_size 1000M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php82"
   php_value upload_max_filesize 8M
   php_flag zlib.output_compression On
</IfModule>
# END cPanel-generated php ini directives, do not edit
# .htaccess example (Apache)
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
</IfModule>

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php85” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php85___lsphp .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
