.stock-wrap {
    padding: 80px 0;
}

.stock-heading {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.3;
    color: #222;
    text-align: center;
}


/* =========================
   TABS
========================= */

.financial-tabs {
    width: 100%;
}

.financial-tab-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.financial-tab-btn {
    position: relative;
    display: inline-block;
    padding: 14px 35px;
    margin: 0;
    border: 0;
    outline: none;
    background: transparent;
    color: #777;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.financial-tab-btn:hover {
    color: #111;
}

.financial-tab-btn.active {
    color: #111;
}

.coming-text {
    text-align: center;
}
.coming-text h4{
    font-size:18px;
}

.financial-tab-btn.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background: #111;
}

.financial-tab-content {
    display: none;
    width: 100%;
}

.financial-tab-content.active {
    display: block;
}
